<!DOCTYPE html>
<html lang="en">
<head>
  <title>Example Website for Data Visualization of Phylotranscriptomic Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Load c3.css -->
  <link href="../js/framework/c3-0.7.0/c3.css" rel="stylesheet">

  <!-- Load d3.js and c3.js -->
  <script src="../js/framework/d3/d3.min.js" charset="utf-8"></script>
  <script src="../js/framework/c3-0.7.0/c3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }

  .vh-100 {
    min-height: 100vh;
}

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

  table th, table td {
    text-align: left;
    padding: 12px;
  }

  table tr {
    border-bottom: 1px solid #ddd;
  }

  table tr.header, table tr:hover {
    background-color: #f1f1f1;
  }

  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navigation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Impressum</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-12">
      <h2>Visualization of generated data in Phylotranscriptomics Project</h2>
      <h5>Absent/Present</h5>
      <div id="bar">Fake Image</div>
      <div id="list"></div>
      <script>
      var test_var = JSON.parse('{{ test | tojson | safe}}');
      // var test_var = '{{ stages }}';
      var executed = false;

      console.log(test_var);
      console.log(test_var.length)
      // console.log      console.log(data)('{{ stages }}' );
      var chart = c3.generate({
        bindto: '#bar',
        data: {
            columns: test_var
              // [test_var[0][0], test_var[0][1]],
              // [test_var[1][0], test_var[1][1]],
            ,
            type: 'bar',
            onclick: function (d, i) {

              function myFunction(){

                var table = document.createElement('table');

                // <table id="myTable">
                //   <tr class="header">
                //     <th style="width:60%;">Stage</th>
                //     <th style="width:40%;">Count</th>
                //   </tr>
                //
                //    {% for entrie in stage %}
                //       <tr>
                //          <td>{{ entrie[0] }}</td>
                //          <td>{{ entrie[1] }}</td>
                //       </tr>
                //    {% endfor %}
                // </table>

                var tr = document.createElement('tr');
                var th1 = document.createElement('th');
                var th2 = document.createElement('th');

                var head1 = document.createTextNode("Stage");
                var head2 = document.createTextNode("Count");

                th1.appendChild(head1);
                th2.appendChild(head2);

                tr.appendChild(th1);
                tr.appendChild(th2);

                table.appendChild(tr);

                {% for entrie in test %}
                var tr = document.createElement('tr');

                var td1 = document.createElement('td');
                var td2 = document.createElement('td');

                var th = document.createElement('th');

                var text1 = document.createTextNode("{{ entrie[0] }}");
                var text2 = document.createTextNode("{{ entrie[1] }}");

                td1.appendChild(text1);
                td2.appendChild(text2);
                tr.appendChild(td1);
                tr.appendChild(td2);
                table.appendChild(tr);
                {% endfor %}

                var x = document.getElementById("test");
                x.appendChild(table);
              };
              if (executed == false){
                myFunction();
                $('.collapse').collapse("toggle")
                executed = true;
              }
              // table.innerHTML = table;
              // table.appendChild(table);;
              // hier den Code für die Tabelle einfügen.
              // https://stackoverflow.com/questions/8302166/dynamic-creation-of-table-with-dom



              console.log(d.id);

              // var f = document.createElement("form");
              // f.setAttribute('id',"myForm");
              // f.setAttribute('method',"post");
              // f.setAttribute('action',"");
              //
              // var i = document.createElement("input"); //input element, text
              // i.setAttribute('type',"text");
              // i.setAttribute('name',"stage");
              // i.setAttribute('value',d.id)
              //
              // f.appendChild(i);
              //
              // //and some more input elements here
              // //and dont forget to add a submit button
              //
              // document.getElementById('test').appendChild(f);
              // f.submit();
            }
          },
          bar: {
            width: {
              ratio: 1 // this makes bar width 50% of length between ticks
            }
          // or
          //width: 100 // this makes bar width 100px
        }
      });
      </script>


        <!-- <form action="" class="form-inline" method="post">
          <input type="hidden" id="myInput" class="form-control" name="stage" value="{{request.form.stage}}">
        </form> -->

  </div>
</div>
<div class="row collapse">
  <div class="col-sm-6">
    <div id="test"></div>
  </div>

  <div class="col-sm-6">
    <div id="myDiv">

      <script>

      var test_var = JSON.parse('{{ heatmap | tojson | safe}}');
      // var data_sorted = test_var.sort(d3.ascending)

      var z0=[]



      var trace = {
        z: z0,
        type: 'heatmap',
      };

      test_var.forEach(function(val) {
      // console.log(val)
        var val_num = val.map(Number);
        trace.z.push(val_num);
      });

      var data = [trace];

      var layout = {
  autosize: false,
  width: 500,
  height: 800,
  margin: {
    l: 50,
    r: 50,
    b: 100,
    t: 100,
    pad: 4
  },
  plot_bgcolor: '#c7c7c7'
};

      console.log(data)
      // var arrayOfNumbers = arrayOfStrings.map(Number);

      // var data = [
      //   {
      //     z: [[1, 20, 30], [20, 1, 60], [30, 60, 1]],
      //     type: 'heatmap'
      //   }
      // ];

      Plotly.plot('myDiv', data,layout, {}, {showSendToCloud: true});

      </script>

    </div>

</div>



</body>
</html>
