<html>

{% extends "layout.html" %}
{% block body %}

<br>
<h3>General Information</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table" id="stagesTable">
          <tr class="header">
            <th>Chromosome</th>
            <th>Region</th>
            <th>Name</th>
            <th>Type</th>
            <th>Source</th>
            <th>ID</th>
            <th>Biotype</th>
            <th>Description</th>
            <th>Gene ID</th>
            <th>Logic Name</th>
            <th>Count</th>
          </tr>
          {% for entrie in stage %}
          <tr>
            <td>{{ entrie[0] }}</td>
            <td>{{ entrie[1] }}</td>
            <td>{{ entrie[2] }}</td>
            <td>{{ entrie[3] }}</td>
            <td>{{ entrie[4] }}</td>
            <td>{{ entrie[5] }}</td>
            <td>{{ entrie[6] }}</td>
            <td>{{ entrie[7] }}</td>
            <td>{{ entrie[8] }}</td>
            <td>{{ entrie[9] }}</td>
            <td>{{ entrie[10] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

<br>

<!-- <p>Und meine Tau werden sehen so aus:</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table" id="tauTable">
          <tr class="header">
            <th>Name</th>
            <th>Tau</th>
            <th>S1</th>
            <th>S2</th>
            <th>S3</th>
            <th>S4</th>
          </tr>
          {% for entrie in tau %}
          <tr>
            <td>{{ entrie[0] }}</td>
            <td>{{ entrie[1] }}</td>
            <td>{{ entrie[2] }}</td>
            <td>{{ entrie[3] }}</td>
            <td>{{ entrie[4] }}</td>
            <td>{{ entrie[5] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div> -->

<h3>Differentially Expressed Data</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table" id="tauTable">
          <tr class="header">
            <th>Name</th>
            <th>Chromosome</th>
            <th>Region</th>
            <th>Max group mean</th>
            <th>Log₂ fold change</th>
            <th>Fold change</th>
            <th>P-value</th>
            <th>FDR p-value</th>
            <th>Bonferroni</th>
            <th>Pattern</th>
          </tr>
          {% for entrie in de %}
          <tr>
            <td>{{ entrie[0] }}</td>
            <td>{{ entrie[1] }}</td>
            <td>{{ entrie[2] }}</td>
            <td>{{ entrie[3] }}</td>
            <td>{{ entrie[4] }}</td>
            <td>{{ entrie[5] }}</td>
            <td>{{ entrie[6] }}</td>
            <td>{{ entrie[7] }}</td>
            <td>{{ entrie[8] }}</td>
            <td>{{ entrie[9] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>




</div>

  <h3>Correlationcluster and Interactions</h3>

<div class="container-fluid">

  <div class="row">

    <div class="col-sm-6" id="myDiv">

      <script>

      var test_var = JSON.parse('{{ yab1 | tojson | safe}}');
      // var data_sorted = test_var.sort(d3.ascending)

      var z0=[]



      var trace = {
        z: z0,
        type: 'heatmap',
      };

      test_var.forEach(function(val) {

        var ratio = Math.max.apply(Math, val) / 100,
        l = val.length,
        i;

        for (i = 0; i < l; i++) {
          val[i] = Math.round(val[i] / ratio);
        }
        console.log(val)
        var val_num = val.map(Number);
        console.log(val_num)
        trace.z.push(val_num);
      });

      var data = [trace];

      console.log(data)
      // var arrayOfNumbers = arrayOfStrings.map(Number);

      // var data = [
      //   {
      //     z: [[1, 20, 30], [20, 1, 60], [30, 60, 1]],
      //     type: 'heatmap'
      //   }
      // ];

      Plotly.plot('myDiv', data, {},{responsive: true} );
      Plotly.Plot.resize()

      </script>

    </div>
<!--
    <div class="col-sm-6">
      <div class="table-responsive pre-scrollable">
        <table class="table" id="tauTable">
          <tr class="header">
            <th>ID</th>
            <th>Correlation</th>
            <th>S1</th>
            <th>S2</th>
            <th>S3</th>
            <th>S4</th>
          </tr>
          {% for entrie in heatmap %}
          <tr>
            <td>{{ entrie[0] }}</td>
            <td>{{ entrie[1] }}</td>
            <td>{{ entrie[2] }}</td>
            <td>{{ entrie[3] }}</td>
            <td>{{ entrie[4] }}</td>
            <td>{{ entrie[5] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div> -->

    <div class="col-sm-6" id="cy">

      <script>

        // console.log(intact);
        // var intact = JSON.parse('{{ intact | tojson | safe}}');
        var data = JSON.parse('{{ data | tojson | safe}}');
        // data = intactParser(intact);
        console.log(data);
        cytoscapeGraph(data);


      </script>

  </div>

  </div>
</div>

{% endblock %}

</html>
