<html>

<head>
    <title>Tutorial 1: Getting Started</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.6.0/cytoscape.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../js/framework/d3/d3.min.js" charset="utf-8"></script>
</head>




<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="list">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Impressum</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid" style="margin-top:30px">
    <div class="row h-100">



  <div class="col-sm-6" id="myDiv">
    <script>

    var test_var = JSON.parse('{{ heatmap | tojson | safe}}');
    // var data_sorted = test_var.sort(d3.ascending)

    var z0=[]



    var trace = {
      z: z0,
      type: 'heatmap',
    };



    test_var.forEach(function(val) {

      var ratio = Math.max.apply(Math, val) / 100,
      l = val.length,
      i;

      for (i = 0; i < l; i++) {
        val[i] = Math.round(val[i] / ratio);
      }
      console.log(val)
      var val_num = val.map(Number);
      console.log(val_num)
      trace.z.push(val_num);
    });

    var data = [trace];

    console.log(data)
    // var arrayOfNumbers = arrayOfStrings.map(Number);

    // var data = [
    //   {
    //     z: [[1, 20, 30], [20, 1, 60], [30, 60, 1]],
    //     type: 'heatmap'
    //   }
    // ];

    Plotly.plot('myDiv', data, {}, {showSendToCloud: true});

    </script>
</div>

  </div>

</div>


</div>

</body>

</html>
