<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}
{% block body %}

<div class="container" style="margin-top:30px">
  <div class="row ">
    <div class="col-sm-12 ">
      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{url_for('static', filename='gruen.jpg')}}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <!-- <h5>PFLANZEN!</h5>
                <p>Guck dir diese Pflanzen an! Keine Ahnung was das für welche sind, die sind aber schön Grün!</p> -->
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static', filename='info.jpg')}}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <!-- <h5>BIOINFORMATIK!</h5>
                <p>Wow. Ein Bildschirm mit farbigem Text. Der Typ muss Ahnung vom Leben haben. Soll symbolisieren, dass mit Informatik gearbeitet wird.</p> -->
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static', filename='bench.jpg')}}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <!-- <h5>LABOR!</h5>
                <p>Laborarbeit. Wichtig. Sonst keine Daten für mich. </p> -->
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
  <div class="card text-center">
  <!-- <div class="card-header">
    Featured
  </div> -->
  <div class="card-body">
    <!-- jumbotron einfügen -->
    <h5 class="card-title">Bioinformatische Entwicklungsbiologie AG Becker</h5>
    <p class="card-text">Willkommen auf der Startseite der bioinformatischen Abteilung der Entwicklungsbiologie AG Becker. Hier befassen wir uns mit der Analyse von Transkriptomdaten mittels diversen bioinformatischen Hilfsmittel die in dieser Website bebündelt sind. </p>
    <p class="card-text ">Erstes mal hier? Klick mich!</p>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnSubmit">Button</button>
  </div>
  <div class="card-footer text-muted">
    <!-- Keine Ahnung was hier rein soll. -->
  </div>
</div>
</div>
</div>
</div>

{% endblock %}
</html>
