<!DOCTYPE html>
<html lang="en">
<head>
  <title>Example Website for Data Visualization of Phylotranscriptomic Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Load c3.css -->
  <link href="../js/framework/c3-0.7.0/c3.css" rel="stylesheet">

  <!-- Load d3.js and c3.js -->
  <script src="../js/framework/d3/d3.min.js" charset="utf-8"></script>
  <script src="../js/framework/c3-0.7.0/c3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

  table th, table td {
    text-align: left;
    padding: 12px;
  }

  table tr {
    border-bottom: 1px solid #ddd;
  }

  table tr.header, table tr:hover {
    background-color: #f1f1f1;
  }

  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navigation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Impressum</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">
    <!-- <div class="col-sm-4">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <h3>Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div> -->
    <div class="col-sm-12 collapse">
      <h2>Visualization of generated data in Phylotranscriptomics Project</h2>
      <h5>Absent/Present</h5>
      <!-- <div id="line">Fake Image</div>
      <script>
        var chart = c3.generate({
        bindto: '#line',
        data: {
          columns: [
            ['data1', 30, 200, 100, 400, 150, 250],
            ['data2', 50, 20, 10, 40, 15, 25]
          ]
        }
      });
      </script> -->
      <div id="bar">Fake Image</div>
      <script>
      var test_var = JSON.parse('{{ stages | tojson | safe}}');
      // var test_var = '{{ stages }}';
      console.log(test_var);
      console.log(test_var.length)
      // console.log      console.log(data)('{{ stages }}' );
      var chart = c3.generate({
        bindto: '#bar',
        data: {
            columns: test_var
              // [test_var[0][0], test_var[0][1]],
              // [test_var[1][0], test_var[1][1]],
            ,
            type: 'bar'
          },
          bar: {
            width: {
              ratio: 1 // this makes bar width 50% of length between ticks
            }
          // or
          //width: 100 // this makes bar width 100px
        }
      });
      </script>
        <div id="test"></div>
      <!-- <div id="stack">Fake Image</div>
      <script>
      var chart = c3.generate({
        bindto: '#stack',
        data: {
          columns: [
              ['data1', -30, 200, 200, 400, -150, 250],
              ['data2', 130, 100, -100, 200, -150, 50],
              ['data3', -230, 200, 200, -300, 250, 250]
            ],
            type: 'bar',
            groups: [
              ['data1', 'data2']
            ]
          },
          grid: {
            y: {
              lines: [{value:0}]
            }
          }
        });
      </script> -->

  </div>
</div>

<div class="container" style="margin-top:30px">
  <h5>Percentage of Genes in different Stages across Stages(?)</h5>
  <div class="row">
    <div class="col-sm-3">
      <div id="pie_1">Pie S1</div>
      <script>
      var test_var = JSON.parse('{{ pie_s1 | tojson | safe}}');
      var executed = false;
      var chart = c3.generate({
              bindto: '#pie_1',
              data: {
                labels: true,
                // iris data from R
                columns: test_var,
                type : 'pie',
                onclick: function (d, i) {

                  function myFunction(){

                    var table = document.createElement('table');

                    // <table id="myTable">
                    //   <tr class="header">
                    //     <th style="width:60%;">Stage</th>
                    //     <th style="width:40%;">Count</th>
                    //   </tr>
                    //
                    //    {% for entrie in stage %}
                    //       <tr>
                    //          <td>{{ entrie[0] }}</td>
                    //          <td>{{ entrie[1] }}</td>
                    //       </tr>
                    //    {% endfor %}
                    // </table>

                    var tr = document.createElement('tr');
                    var th1 = document.createElement('th');
                    var th2 = document.createElement('th');

                    var head1 = document.createTextNode("Stage");
                    var head2 = document.createTextNode("Count");

                    th1.appendChild(head1);
                    th2.appendChild(head2);

                    tr.appendChild(th1);
                    tr.appendChild(th2);

                    table.appendChild(tr);

                    {% for entrie in stages %}
                    var tr = document.createElement('tr');

                    var td1 = document.createElement('td');
                    var td2 = document.createElement('td');

                    var th = document.createElement('th');

                    var text1 = document.createTextNode("{{ entrie[0] }}");
                    var text2 = document.createTextNode("{{ entrie[1] }}");

                    td1.appendChild(text1);
                    td2.appendChild(text2);
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    table.appendChild(tr);
                    {% endfor %}

                    var x = document.getElementById("test");
                    x.appendChild(table);
                  };
                  if (executed == false){
                    myFunction();
                    executed = true;
                  }
                    // table.innerHTML = table;
                  // table.appendChild(table);;
                  // hier den Code für die Tabelle einfügen.
                  // https://stackoverflow.com/questions/8302166/dynamic-creation-of-table-with-dom
                  $('.collapse').collapse("toggle")


                  console.log("onclick", d, i);
                },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
              }
            });
      </script>
    </div>
    <div class="col-sm-3"></script>
      <div id="pie_2">Pie S2</div>
      <script>
      var test_var = JSON.parse('{{ pie_s2 | tojson | safe}}');
      var chart = c3.generate({
              bindto: '#pie_2',
              data: {
                // iris data from R
                columns: test_var,
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
              }
            });
      </script>
    </div>
    <div class="col-sm-3">
      <div id="pie_3">Pie S3</div>
      <script>
      var test_var = JSON.parse('{{ pie_s3 | tojson | safe}}');
      var chart = c3.generate({
              bindto: '#pie_3',
              data: {
                // iris data from R
                columns: test_var,
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
              }
            });
      </script>
    </div>
    <div class="col-sm-3">
      <div id="pie_4">Pie S4</div>
      <script>
      var test_var = JSON.parse('{{ pie_s4 | tojson | safe}}');
      var chart = c3.generate({
              bindto: '#pie_4',
              data: {
                // iris data from R
                columns: test_var,
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
              }
            });
      </script>
    </div>
  </div>
</div>

<!-- <div id="my_dataviz"></div>

<script>
var test_var = JSON.parse('{{ tau | tojson | safe}}');
// set the dimensions and margins of the graph
var margin = {top: 10, right: 30, bottom: 30, left: 40},
  width = 400 - margin.left - margin.right,
  height = 400 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
.append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
.append("g")
  .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

// create dummy data
// var data = [12,19,11,13,12,22,13,4,15,16,18,19,20,12,11,9]

var data = test_var
console.log(test_var)

// Compute summary statistics used for the box:
var data_sorted = data.sort(d3.ascending)
var q1 = d3.quantile(data_sorted, .25)
var median = d3.quantile(data_sorted, .5)
var q3 = d3.quantile(data_sorted, .75)
var interQuantileRange = q3 - q1
var min = q1 - 1.5 * interQuantileRange
var max = q1 + 1.5 * interQuantileRange

// Show the Y scale
var y = d3.scaleLinear()
  .domain([0,1])
  .range([height, 0]);
svg.call(d3.axisLeft(y))

// a few features for the box
var center = 200
var width = 100

// Show the main vertical line
svg
.append("line")
  .attr("x1", center)
  .attr("x2", center)
  .attr("y1", y(min) )
  .attr("y2", y(max) )
  .attr("stroke", "black")

// Show the box
svg
.append("rect")
  .attr("x", center - width/2)
  .attr("y", y(q3) )
  .attr("height", (y(q1)-y(q3)) )
  .attr("width", width )
  .attr("stroke", "black")
  .style("fill", "#69b3a2")

// show median, min and max horizontal lines
svg
.selectAll("toto")
.data([min, median, max])
.enter()
.append("line")
  .attr("x1", center-width/2)
  .attr("x2", center+width/2)
  .attr("y1", function(d){ return(y(d))} )
  .attr("y2", function(d){ return(y(d))} )
  .attr("stroke", "black")
</script> -->


<div id="myDiv"></div>

<script>
var test_var = JSON.parse('{{ tau | tojson | safe}}');
var data_sorted = test_var.sort(d3.ascending)

var y0=[]



var trace1 = {
  y: y0,
  type: 'box',
  boxpoints: false
};

data_sorted.forEach(function(val) {
  // console.log(val[0])
 trace1.y.push(val[0]);
});
var data = [trace1];

Plotly.newPlot('myDiv', data, {}, {showSendToCloud: true});
</script>

<!-- <div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div> -->

</body>
</html>
