<html>

{% extends "layout.html" %}
{% block body %}

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-12" id="cy">

      <script>

        // console.log(intact);
        // var intact = JSON.parse('{{ intact | tojson | safe}}');
        var data = JSON.parse('{{ data | tojson | safe}}');
        // data = intactParser(intact);
        console.log(data);
        cytoscapeGraph(data);


      </script>

</div>

<!-- <div class="col-sm-6" id="cy1">
  <script>

  $(document).ready(function(e) {
    var cy = cytoscape({
      container: document.getElementById('cy1'),
      elements: [
        { data: { id: 'a' } },
        { data: { id: 'b' } },
        {
          data: {
            id: 'ab',
            source: 'a',
            target: 'b'
          }
        }]
      });
      cy.resize()
    });

  </script>
</div> -->

</div>

</div>



{% endblock %}

</html>
