<!doctype html>
<title>Example Website for Data Visualization of Phylotranscriptomic Project</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.6.0/cytoscape.min.js"></script>

<!-- Load c3.css -->
<link href="../js/framework/c3-0.7.0/c3.css" rel="stylesheet">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

<!-- Load d3.js and c3.js -->
<script src="../js/framework/d3/d3.min.js" charset="utf-8"></script>
<script src="../js/framework/c3-0.7.0/c3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/list_dyn.js') }}"></script>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  {% if title %}
  <a class="navbar-brand" href="/">
    <img src="{{url_for('static', filename='logo.JPG')}}" width="32" height="32" alt="">
    {{title}}</a>
  {% else %}
  <a class="navbar-brand" href="/">
    <img src="{{url_for('static', filename='logo.JPG')}}" width="32" height="32" alt="">
    BADA</a>
    <!-- CATdb -->
    <!-- Bioinformatics Analysis of Development in Angiosperms ??? -->
  {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="species">Species</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.uni-giessen.de/faculties/f08/departments/botany/evolutionary-developmental-biology-of-plants">About Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="post">
      <input class="form-control mr-sm-2" type="search" placeholder="ID or Name" name="stage" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Search</button>
    </form>
  </div>
</nav>

{% block body %}
{% endblock %}
