<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}
{% block body %}

<div class="container" style="margin-top:30px">

  <div class="row">
    <div class="col-sm-12">
      <h2>Visualization of generated data in Phylotranscriptomics Project</h2>
      <h5>Absent/Present</h5>
      <div id="bar"></div>
      <script>
        var test_var = JSON.parse('{{ stages | tojson | safe}}');
        bar_chart(test_var,"#bar");
      </script>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="d-none">
        <form class="form-signin" action="" method="post" role="form">
          <input type="email" id="test_form" name="username" class="form-control" placeholder="Email address" required autofocus>
          <button class="btn btn-lg btn-primary btn-block" type="button">Register </button>
        </form>
      </div>

      <div class="pre-scrollable" id="place_for_suggestions"></div>
      <script>
        search();
      </script>
    </div>
  </div>

</div>

{% endblock %}
</html>
