<!-- <input type="text" id="myInput" onkeyup="search()" placeholder="Search for names.."> -->
<table id="myTable">
  <tr class="header">
    <th style="width:50%;">Stage</th>
    <th style="width:50%;">Name</th>
  </tr>
   {% for entrie in stage %}
      <tr>
         <td>{{ entrie[0] }}</td>
          <td><a href="/name/{{ entrie[1] }}" target="_blank">{{ entrie[1] }}</a> </td>
         <!-- <td>{{ entrie[1] }}</td> -->
      </tr>
   {% endfor %}
</table>
