<!doctype html>
<html>
<head>
  <style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>
</head>
   <body>

     <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
      <table id="myTable">
        <tr class="header">
          <th style="width:60%;">Stage</th>
          <th style="width:40%;">Count</th>
        </tr>

         {% for entrie in stage %}
            <tr>
               <td><a href="/name/{{ entrie[0] }}" target="__blank">{{ entrie[0] }}</a></td>
               <td>{{ entrie[1] }}</td>
            </tr>
         {% endfor %}
      </table>

      <script>

 function myFunction() {
   // Declare variables
   var input, filter, table, tr, td, i, txtValue;
   input = document.getElementById("myInput");
   filter = input.value.toUpperCase();
   table = document.getElementById("myTable");
   tr = table.getElementsByTagName("tr");

   // Loop through all table rows, and hide those who don't match the search query
   for (i = 0; i < tr.length; i++) {
     td = tr[i].getElementsByTagName("td")[0];
     if (td) {
       txtValue = td.textContent || td.innerText;
       if (txtValue.toUpperCase().indexOf(filter) > -1) {
         tr[i].style.display = "";
       } else {
         tr[i].style.display = "none";
       }
     }
   }
 }
 </script>

      <a href = "/">Go back to home page</a>
   </body>
</html>
