{% extends "layout.html" %}
{% block body %}

{% if session["logged_in"] %}

You are logged in!

{% else %}


<div class="container">


  <form action="/login" method="POST">
    <input type="username" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log in">
  </form>

    </div> <!-- /container -->

{% endif %}
{% endblock %}
