<!DOCTYPE html>
<html lang="en">
<head>
  <title>Example Website for Data Visualization of Phylotranscriptomic Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Load c3.css -->
  <link href="../js/framework/c3-0.7.0/c3.css" rel="stylesheet">

  <!-- Load d3.js and c3.js -->
  <script src="../js/framework/d3/d3.min.js" charset="utf-8"></script>
  <script src="../js/framework/c3-0.7.0/c3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }

  .vh-100 {
    min-height: 100vh;
}

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

  table th, table td {
    text-align: left;
    padding: 12px;
  }

  table tr {
    border-bottom: 1px solid #ddd;
  }

  table tr.header, table tr:hover {
    background-color: #f1f1f1;
  }

  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navigation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Impressum</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top:30px">
  <h5>Percentage of Genes in different Stages across Stages</h5>
  <div class="row">
    <div class="col-sm-3">
      <div id="pie_1">Pie S1</div>
      <script>
      var test_var = JSON.parse('{{ pie_s1 | tojson | safe}}');
      var executed = false;
      var chart = c3.generate({
              bindto: '#pie_1',
              data: {
                labels: true,
                // iris data from R
                columns: test_var,
                type : 'pie',
                onclick: function (d, i) {

                  function myFunction(){

                    var table = document.createElement('table');

                    // <table id="myTable">
                    //   <tr class="header">
                    //     <th style="width:60%;">Stage</th>
                    //     <th style="width:40%;">Count</th>
                    //   </tr>
                    //
                    //    {% for entrie in stage %}
                    //       <tr>
                    //          <td>{{ entrie[0] }}</td>
                    //          <td>{{ entrie[1] }}</td>
                    //       </tr>
                    //    {% endfor %}
                    // </table>

                    var tr = document.createElement('tr');
                    var th1 = document.createElement('th');
                    var th2 = document.createElement('th');

                    var head1 = document.createTextNode("Stage");
                    var head2 = document.createTextNode("Count");

                    th1.appendChild(head1);
                    th2.appendChild(head2);

                    tr.appendChild(th1);
                    tr.appendChild(th2);

                    table.appendChild(tr);

                    {% for entrie in test %}
                    var tr = document.createElement('tr');

                    var td1 = document.createElement('td');
                    var td2 = document.createElement('td');

                    var th = document.createElement('th');

                    var text1 = document.createTextNode("{{ entrie[0] }}");
                    var text2 = document.createTextNode("{{ entrie[1] }}");

                    td1.appendChild(text1);
                    td2.appendChild(text2);
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    table.appendChild(tr);
                    {% endfor %}

                    var x = document.getElementById("test");
                    x.appendChild(table);
                  };
                  if (executed == false){
                    myFunction();
                    $('.collapse').collapse("toggle")
                    executed = true;
                  }
                    // table.innerHTML = table;
                  // table.appendChild(table);;
                  // hier den Code für die Tabelle einfügen.
                  // https://stackoverflow.com/questions/8302166/dynamic-creation-of-table-with-dom



                  console.log("onclick", d, i);
                },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
              }
            });
      </script>
    </div>
    <div class="col-sm-3"></script>
      <div id="pie_2">Pie S2</div>
      <script>
      var test_var = JSON.parse('{{ pie_s2 | tojson | safe}}');
      var chart = c3.generate({
              bindto: '#pie_2',
              data: {
                // iris data from R
                columns: test_var,
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
              }
            });
      </script>
    </div>
    <div class="col-sm-3">
      <div id="pie_3">Pie S3</div>
      <script>
      var test_var = JSON.parse('{{ pie_s3 | tojson | safe}}');
      var chart = c3.generate({
              bindto: '#pie_3',
              data: {
                // iris data from R
                columns: test_var,
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
              }
            });
      </script>
    </div>
    <div class="col-sm-3">
      <div id="pie_4">Pie S4</div>
      <script>
      var test_var = JSON.parse('{{ pie_s4 | tojson | safe}}');
      var chart = c3.generate({
              bindto: '#pie_4',
              data: {
                // iris data from R
                columns: test_var,
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
              }
            });
      </script>
    </div>
  </div>

  <div class="row collapse">
    <div class="col-sm-12">
      <div id="test"></div>
    </div>
  </div>
</div>



</body>
</html>
