<!doctype html>
<html>
<head>
  <style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

</style>
</head>
   <body>
     <div class="container">
   		<h4>Search bar:</h4>
   		<form action="" class="form-inline" method="post">
   			<input type="text" id="myInput" class="form-control" placeholder = "Stage" name="stage" value="{{request.form.stage}}">
   			<input class="btn btn-default" type="submit" value="Submit Button">
   		</form>
   	</div>

      <a href = "/">Go back to home page</a>
   </body>
</html>




<body>
