<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}
{% block body %}



<div class="container" style="margin-top:30px">

  <div class="row">
<div class="col-sm-12">
    <div class="card text-center">
      <div class="card-header">
        Absent/Present
      </div>
      <div class="card-body">
        <div class="row">
        <div class="col-sm-8">
          <div id="bar"></div>
          <script>
            var test_var = JSON.parse('{{ stages | tojson | safe}}');
            bar_chart(test_var,"#bar");
          </script>
        </div>

    <div class="col-sm-4">
        <div class="card h-100">
      <h5 class="card-header">Info Box</h5>
      <div class="card-body">
        <h5 class="card-title">Absent Present</h5>
        <p class="card-text">Genes dynamically visualized based on absent/present data. Onclick on bar shows a searchable list of all entities in said absent/present group.</p>
        <!-- <p class="card-text">Eventuell eine kleine Grafik die Anzeigt was Absent Present bedeutet, und wie wir es definiert haben??</p> -->
        <button type="button" id="modal_table" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModalLong">
          Launch demo modal
        </button>
      </div>
    </div>
    <div class="d-none">
      <form class="form-signin" action="" method="post" role="form">
        <input type="email" id="modal_form" name="username" class="form-control" placeholder="Email address" required autofocus>
        <!-- <button class="btn btn-lg btn-primary btn-block" type="button">Register </button> -->
      </form>
    </div>
    </div>
  </div>
      </div>
      <div class="card-footer text-muted">
        Keine Ahnung ob man den hier brauch.
      </div>
    </div>



  </div>

  <!-- <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-header">
          Absent/Present
        </div>
        <div class="card-body">
          <div class="row">
          <div class="col-sm-8">
            <div id="bar"></div>
            <script>
              var test_var = JSON.parse('{{ stages | tojson | safe}}');
              bar_chart(test_var,"#bar");
            </script>
          </div>

      <div class="col-sm-4">
          <div class="card h-100">
        <h5 class="card-header">Info Box</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      </div>
    </div>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>



    </div> -->

</div>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <input class="form-control" type="text" id="myInput" onkeyup="search()" placeholder="Search for IDs">
        <!-- <input type="text" id="myInput" onkeyup="search()" placeholder="Search for IDs.."> -->
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="pre-scrollable" id="place_for_suggestions"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




</div>

{% endblock %}
</html>
