<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}
{% block body %}
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img src="{{url_for('static', filename='tom.JPG')}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tomato</h5>
          <p class="card-text">Solanum lycopersicum</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 months ago</small></p> -->
          <a href="/" class="stretched-link"></a>
          <!-- eventuell den link unsichtbar machen -->
        </div>
      </div>
      <div class="card">
        <img src="{{url_for('static', filename='ara.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arabidopsis</h5>
          <p class="card-text">Arabidopsis thaliana</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated yesterday</small></p> -->
          <a href="/arabidopsis" class="stretched-link"></a>
          <!-- eventuell den link unsichtbar machen -->
        </div>
      </div>
      <div class="card">
        <img src="{{url_for('static', filename='poppy.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">California Poppy</h5>
          <p class="card-text">Eschscholzia californica</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated never</small></p> -->
          <a href="/" class="stretched-link"></a>
          <!-- eventuell den link unsichtbar machen -->
        </div>
      </div>
      <div class="card">
        <img src="{{url_for('static', filename='rice.JPG')}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rice</h5>
          <p class="card-text">Oryza sativa</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated from some chinese guy</small></p> -->
          <a href="/" class="stretched-link"></a>
          <!-- eventuell den link unsichtbar machen -->
        </div>
      </div>
    </div>

    </div>
    </div>

    {% endblock %}
    </html>
