<!DOCTYPE html>
<html lang="en">
<head>
  <title>Example Website for Data Visualization of Phylotranscriptomic Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Load c3.css -->
  <link href="../js/framework/c3-0.7.0/c3.css" rel="stylesheet">

  <!-- Load d3.js and c3.js -->
  <script src="../js/framework/d3/d3.min.js" charset="utf-8"></script>
  <script src="../js/framework/c3-0.7.0/c3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

  table th, table td {
    text-align: left;
    padding: 12px;
  }

  table tr {
    border-bottom: 1px solid #ddd;
  }

  table tr.header, table tr:hover {
    background-color: #f1f1f1;
  }

  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navigation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Impressum</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4 border border-dark text-center">
      <h2>Absent Present</h2>
      <a href="/appr">
       <img src="{{url_for('static', filename='appr.png')}}" class="img-fluid">
     </a>
    </div>
      <div class="col-sm-4 border border-dark text-center">
        <h2>Distribution of Stages</h2>
        <a href="/pie">
         <img src="{{url_for('static', filename='pie.png')}}" class="img-fluid">
       </a>
      </div>
        <div class="col-sm-4 border border-dark text-center">
          <h2>Tissue Specifity</h2>
          <a href="/tau">
           <img src="{{url_for('static', filename='tau.png')}}" class="img-fluid">
         </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 border border-dark text-center">
          <h2>Searching Uniprot Style</h2>
          <a href="/list">
           <img src="{{url_for('static', filename='list.png')}}" class="img-fluid">
         </a>
        </div>
          <div class="col-sm-4 border border-dark">
            <h2>Placeholder</h2>
          </div>
            <div class="col-sm-4 border border-dark">
              <h2>Placeholder</h2>
            </div>
      </div>



</body>
</html>
