<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}
{% block body %}

<div class="container" style="margin-top:30px">

  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="ara-tab" data-toggle="tab" href="#ara" role="tab" aria-controls="ara" aria-selected="true">Ara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tom-tab" data-toggle="tab" href="#tom" role="tab" aria-controls="tom" aria-selected="false">Tom</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="rice-tab" data-toggle="tab" href="#rice" role="tab" aria-controls="rice" aria-selected="false">Rice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="poppy-tab" data-toggle="tab" href="#poppy" role="tab" aria-controls="poppy" aria-selected="false">Poppy</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="ara" role="tabpanel" aria-labelledby="ara-tab">


          <div id="bar"></div>
          <script>
            var test_var = JSON.parse('{{ stages | tojson | safe}}');
            bar_chart(test_var,"#bar");
          </script>



        </div>
        <div class="tab-pane fade" id="tom" role="tabpanel" aria-labelledby="tom-tab">Tom</div>
        <div class="tab-pane fade" id="rice" role="tabpanel" aria-labelledby="rice-tab">


          <div id="bar2"></div>
          <script>
            var test_var = JSON.parse('{{ stages | tojson | safe}}');
            bar_chart(test_var,"#bar2");
          </script>


        </div>
        <div class="tab-pane fade" id="poppy" role="tabpanel" aria-labelledby="poppy-tab">Poppy</div>
      </div>
    </div>
  </div>



</div>

{% endblock %}
</html>
