<!DOCTYPE html>
<html lang="en">
<head>
  <title>Example Website for Data Visualization of Phylotranscriptomic Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Load c3.css -->
  <link href="../js/framework/c3-0.7.0/c3.css" rel="stylesheet">

  <!-- Load d3.js and c3.js -->
  <script src="../js/framework/d3/d3.min.js" charset="utf-8"></script>
  <script src="../js/framework/c3-0.7.0/c3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }

  .vh-100 {
    min-height: 100vh;
}

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

  table th, table td {
    text-align: left;
    padding: 12px;
  }

  table tr {
    border-bottom: 1px solid #ddd;
  }

  table tr.header, table tr:hover {
    background-color: #f1f1f1;
  }

  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navigation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Impressum</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top:30px">
  <h5>Tau across Species</h5>
  <div class="row">
    <div class="col-sm-12">
      <div id="myDiv"></div>

      <script>
      var test_var = JSON.parse('{{ tau | tojson | safe}}');
      var data_sorted = test_var.sort(d3.ascending)

      var y0=[]

      var trace1 = {
        y: y0,
        type: 'box',
        boxpoints: false
      };

      data_sorted.forEach(function(val) {
        // console.log(val[0])
       trace1.y.push(val[0]);
      });
      var data = [trace1,trace1,trace1,trace1];

      Plotly.newPlot('myDiv', data, {}, {showSendToCloud: true});
      </script>
<div id="test" class="pre-scrollable">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
       <table id="myTable">
         <tr class="header">
           <th style="width:20%;">Tau</th>
           <th style="width:20%;">S1</th>
           <th style="width:20%;">S2</th>
           <th style="width:20%;">S3</th>
           <th style="width:20%;">S4</th>
         </tr>

          {% for entrie in tau %}
             <tr>
                <td>{{ entrie[0] }}</td>
                <td>{{ entrie[1] }}</td>
                <td>{{ entrie[2] }}</td>
                <td>{{ entrie[3] }}</td>
                <td>{{ entrie[4] }}</td>
             </tr>
          {% endfor %}
       </table>
     </div>

       <script>

  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>
    </div>
  </div>
</div>



</body>
</html>
