.fakeimg {
  height: 200px;
  background: #aaa;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

table th, table td {
  text-align: left;
  padding: 12px;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr.header, table tr:hover {
  background-color: #f1f1f1;
}

/* object cover wird genutzt um die Bilder resposive anzupassen */

.carousel-inner > .carousel-item > img {
  /* width: 100%; */
  object-fit: cover;
  /* width:640px;*/
  height:360px;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.fill {
    min-height: 100%;
    height: 50%;
}

#cy {
  display: block;
}
